<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_frame :: common_css"></head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header id="header" th:replace="common/common_frame :: common_header"></header>
    <aside id="aside" th:replace="common/common_frame :: common_aside"></aside>
    <div class="content-wrapper">

        <!--TODO-->

    </div>
</div>


<div th:replace="common/common_frame :: common_scripts"></div>

</body>
</html>